{{#if yze.hasActiveSetting}}
  <section class="yze-actor">
    <header>
      <h2>{{actor.name}}</h2>
      <p class="hint">Active setting: {{yze.activeSetting.id}}</p>
    </header>

    <!-- Example: show attributes from config -->
    <h3>Attributes</h3>
    <div class="grid">
      {{#each yze.activeSetting.attributes as |attr|}}
        <div class="row">
          <label>{{attr.name}}</label>
          <input type="number"
                 name="system.attributes.{{attr.id}}.value"
                 value="{{lookup (lookup ../system.attributes attr.id) 'value'}}" />
          <button type="button" data-action="rollAttr" data-attr-id="{{attr.id}}">Roll</button>
        </div>
      {{/each}}
    </div>
  </section>
{{else}}
  <section class="yze-actor">
    <p class="warning">No active setting. Activate one to use this sheet.</p>
  </section>
{{/if}}
