<div class="yze-roll-card yze-npc-roll-card">
  <h3>{{poolName}} Roll</h3>
  {{#if pushed}}
    <div>PUSHED</div>
  {{/if}}
  <div>{{actorName}}</div>
  <div>Dice: {{dice.length}}</div>
  <ul class="yze-dice">
    {{#each dice}}
      <li>
        <i class="yz-die fas fa-dice-{{yzeDieFace this}} {{yzeDiePushedClass ../rollState @index}}"
           data-result="{{this}}"
           title="{{this}}"></i>
      </li>
    {{/each}}
  </ul>
  <div>Successes: {{successes}}</div>
</div>
