<div class="yze-roll-card">
  <h3>{{title}}</h3>
  <div>{{actorName}}</div>
  <div>Dice Pool: {{diceCount}}</div>
  <ul>
    {{#each dice}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <div>Successes: {{successes}}</div>
</div>
