<div class="yze-roll-card">
  <h3>{{title}}</h3>
  {{#if pushed}}
    <div>PUSHED</div>
  {{/if}}
  <div>{{actorName}}</div>
  {{#if rollState.dicePool.summaryLines}}
    {{#each rollState.dicePool.summaryLines}}
      <div>{{this}}</div>
    {{/each}}
  {{/if}}
  <div>Dice Pool: {{diceCount}}</div>
  {{#if rollState.dicePool.breakdown}}
    <div>Breakdown: {{rollState.dicePool.breakdown}}</div>
  {{/if}}
  {{#if rollState.dicePool.conditionLines}}
    {{#each rollState.dicePool.conditionLines}}
      <div>{{this}}</div>
    {{/each}}
  {{/if}}
  <ul>
    {{#each dice}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <div>Successes: {{successes}}</div>

  <div class="yze-roll-controls">
    {{#if rollState.pushable}}
      <button type="button"
              class="yze-push-roll"
              data-action="yze-push"
              data-message-id="{{messageId}}">
        Push
      </button>
    {{/if}}
  </div>
</div>
