<div class="yze-roll-card">
  <h3>{{title}}</h3>
  {{#if pushed}}
    <div>PUSHED</div>
  {{/if}}
  <div>{{actorName}}</div>
  {{#if rollState.dicePool.summaryLines}}
    {{#each rollState.dicePool.summaryLines}}
      <div>{{this}}</div>
    {{/each}}
  {{/if}}
  <div class="yze-roll-separator"></div>
  <div>Total Dice: {{totalDice}}</div>
  <div>Attribute Dice:</div>
  <ul class="yze-dice">
    {{#each rollState.results.attributeDice}}
      <li>
        <i class="yz-die fas fa-dice-{{yzeDieFace this}} {{yzeDiePushedClass @root.rollState @index}}"
           data-result="{{this}}"
           title="{{this}}"></i>
      </li>
    {{/each}}
  </ul>
  <div>Skill Dice:</div>
  <ul class="yze-dice">
    {{#each rollState.results.skillDice}}
      <li>
        <i class="yz-die fas fa-dice-{{yzeDieFace this}} {{yzeDiePushedClass @root.rollState @index @root.attrValue}}"
           data-result="{{this}}"
           title="{{this}}"></i>
      </li>
    {{/each}}
  </ul>
  {{#if rollState.results.modDice.length}}
    <div>Mod Dice:</div>
    <ul class="yze-dice">
      {{#each rollState.results.modDice}}
        <li>
          <i class="yz-die fas fa-dice-{{yzeDieFace this}} {{yzeDiePushedClass @root.rollState @index (yzeAdd @root.attrValue @root.skillValue)}}"
             data-result="{{this}}"
             title="{{this}}"></i>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <div>Successes: {{successes}}</div>

  <div class="yze-roll-controls">
    {{#if rollState.pushable}}
      <button type="button"
              class="yze-push-roll"
              data-action="yze-push"
              data-message-id="{{messageId}}">
        Push
      </button>
    {{/if}}
  </div>
</div>
