<div class="yze-roll-card">
  <h3>{{title}}</h3>
  {{#if pushed}}
    <div>PUSHED</div>
  {{/if}}
  <div>{{actorName}}</div>
  <div>{{attrName}}: {{attrValue}}</div>
  <div>{{skillName}}: {{skillValue}}</div>
  {{#if hasMod}}
    <div>Mod: {{mod}}</div>
  {{/if}}
  <div>Total Dice: {{totalDice}}</div>
  {{#if rollState.dicePool.breakdown}}
    <div>Breakdown: {{rollState.dicePool.breakdown}}</div>
  {{/if}}
  <div>Attribute Dice:</div>
  <ul>
    {{#each rollState.results.attributeDice}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <div>Skill Dice:</div>
  <ul>
    {{#each rollState.results.skillDice}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  {{#if hasMod}}
    <div>Mod Dice:</div>
    <ul>
      {{#each rollState.results.modDice}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <div>Successes: {{successes}}</div>

  <div class="yze-roll-controls">
    {{#if rollState.pushable}}
      <button type="button"
              class="yze-push-roll"
              data-action="yze-push"
              data-message-id="{{messageId}}">
        Push
      </button>
    {{/if}}
  </div>
</div>
